.allpadding {
	padding: 20px;
}

.namesize {
	font-size: 26px;
}

.imgcontainer {
	width: 50px;
	height: 50px;
	margin-left: 30px;
}

.imgcontainer img {
	width: 100%;
	height: auto;
}

ion-card {
	width: 98%;
	--background: #ffffff;
}

ion-avatar {
	width: 30%;
	height: 30%;
}

ion-list-header {
	font-size: 24px;
}

ion-col {
	display: flex;
	align-items: center;
}