<ion-header>
  <ion-toolbar>
    <ion-title slot="start">
      PlastiX &nbsp; &nbsp; | &nbsp; &nbsp; Rewards
    </ion-title>
	<ion-buttons slot="end">
	  <ion-button><ion-icon name="ios-home"></ion-icon></ion-button>
	</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

	<div align="center" class="allpadding">
	  <ion-avatar class="ion-titlesize">
		<img src="/assets/weatherwax.jpg">
	  </ion-avatar>
	  <ion-title class="namesize">Esmerelda Weatherwax</ion-title>
	  <ion-label>1337 Points</ion-label>
    </div>
	
	<ion-card>

        <ion-list-header>
			Available Rewards
        </ion-list-header>
		
		<ion-grid>
		
		<ion-row>
		
			<ion-col size="2"><div class="imgcontainer">
			<img src="/assets/starbs.png">
			</div></ion-col>
			
			<ion-col size="6">
			Free muffin with any Starbucks drink order
			</ion-col>
			
			<ion-col size="3">
			Points needed: &nbsp; 100
			</ion-col>
			
			<ion-col size="1"><ion-button>
			<ion-icon name="cart"></ion-icon>
			</ion-button></ion-col>
			
		</ion-row>
		
		<ion-row>
		
			<ion-col size="2"><div class="imgcontainer">
			<img src="/assets/tesco.jpg">
			</div></ion-col>
			
			<ion-col size="6">
			15% discount on next Tesco purchase
			</ion-col>
			
			<ion-col size="3">
			Points needed: &nbsp; 200
			</ion-col>
			
			<ion-col size="1"><ion-button>
			<ion-icon name="cart"></ion-icon>
			</ion-button></ion-col>
			
		</ion-row>
		
		</ion-grid>
	
	</ion-card>
	
	<div align="center" class="allpadding">
	  <ion-button href="/tabs/tab2">
	    <ion-icon slot="start" name="person"></ion-icon>
	    Back to Profile
	  </ion-button>
	</div>
	
</ion-content>
